<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Deploy\API\WebApplication1.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>BB_API_BES</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BB_DB_DEV_LeaseDesk" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.BB_DB_DEV_LeaseDesk, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BB_DB_DEVEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.BB_DB_DEVEntities2, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="masterEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.masterEntities, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BB_DB_DEVEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KMDBSDEV02.bs.kme.intern;Initial Catalog=BB_DEV_BPT_BES;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BB_DB_DEVEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DBModels.csdl|res://*/Models.DBModels.ssdl|res://*/Models.DBModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KMDBSDEV02.bs.kme.intern;initial catalog=BB_DEV_BPT_BES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BB_DB_DEVEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KMDBSDEV02.bs.kme.intern;Initial Catalog=BB_DEV_BPT_BES;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BB_DB_DEVEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KMDBSDEV02.bs.kme.intern;initial catalog=BB_DEV_BPT_BES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BB_DB_DEVEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BB_DB_DEV_LeaseDesk-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)masterEntities-Web.config Connection String" />
  </ItemGroup>
</Project>